html {
  background-color: #2e3440;
  font-family: Barlow;
  color: #d8dee9;
}

div {
  background-color: #3b4252;

  width: 61%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;

  text-align: center;

  border: solid #4c566a;
  border-radius: 20px;
  overflow: scroll;
}

.profile-name {
  font-weight: bolder;


}

table {
  padding: 10px;

  border-collapse: collapse;

  text-align: left;

  width: 61%;

  margin: auto;
}

th, td {
  padding: 10px;
  border-bottom: solid #4c566a 1pt;
  border-right: solid #4c566a 1pt;
}

.table-last-column  {
  border-right: 0;
}

.table-last-row td {
  border-bottom: 0;
}